{# Resources/views/account/form-comment.html.twig #}
<div style="margin-top:20px">
  {{ form_start(form_comment, {'attr': {'method' : 'post', 'id' : 'add_comment_'~post_id, 'action' : path('comment-add', {'post_id': post_id})}}) }}

  {# Les erreurs générales du formulaire. #}
  {{ form_errors(form_comment) }}
  
  <div class="form-group">        
	{{ form_widget(form_comment.content, {'attr': {'placeholder': 'Ajoutez un commentaire...'}}) }}
  </div>
  
  <div class="form-group">
	{{ form_widget(form_comment.Envoyer, {'attr': {'class': 'btn btn-default btn-xs'}}) }}
  </div>
 
  {{ form_rest(form_comment) }}
  
  {# Fermeture de la balise <form> du formulaire HTML #}
  {{ form_end(form_comment) }}
</div>